html {
    background-color: #f1f1f1;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: helvetica;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/* Navigation Section */
#menuToggle {
    display: block;
    position: relative;
    top: 30px;
    left: 0px;
    z-index: 1; /* z-index set the order of a positioned element */
    user-select: none; /* whether the user can select */
}

#menuToggle a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: #daa520;
}

#menuToggle input {
    display: block;
    width: 30px;
    height: 20px;
    position: absolute;
    top: -5px;
    left: -3px;
    cursor: pointer;
    opacity: 0; /* transparency of element */
    z-index: 2;
}

#menuToggle span {
    display: flex;
    width: 30px;
    height: 3px;
    margin-bottom: 4px;
    position: relative;
    background: #ACB5AF;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
}

#menu {
    position: absolute;
    width: 200px;
    margin: 0px 0px 0px 0px;
    padding: 25px;
    padding-top: 50px;
    background: #f1f1f1;
    list-style: none;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
}

#menu li {
    padding: 5px 0;
    font-size: 20px;
}

#menuToggle input:checked ~ ul {
    transform: none;
}

#container {
    background-attachment: fixed;
    background-image: url(./images1/blueprint.jpg);
    height: 700px;
    width: 1000%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    display: flex;
    width: 70%;
    justify-content: space-around;
    gap: 1em;
    flex-wrap: wrap;
}

.card {
    width: 220px;
    height: 320px;
    padding: 1em 0;
    background: #f1f1f1;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
    margin-left: 2em;
}

.card .button {
    border-radius: 20px;
}

.card:hover {
    transform: translateY(7px);
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block; 
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #ebd9d1, #d9d3c7, #c7cdc3, #b9c5c1, #b1bcbe);
    z-index: 2;
    transition: 0.7s all;
    opacity: 0;
}

.card:hover::before {
    opacity: 1;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card .info {
    position: relative;
    z-index: 3;
    color: #f1f1f1;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.card:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

.card .info h1 {
    margin: 0.2em;
}

.card .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
    margin-left: 0.5em;
}

.card .info .button {
    text-decoration: none;
    padding: 0.5em 1em;
    background: #f1f1f1;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-left: 0.5em;
}

.card .info .button:hover {
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}


button {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: goldenrod;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: flex;
  font-family: helvetica;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  text-align: center;
  text-decoration: none;
  align-items: flex-end;
}

button:hover, button:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

button:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

form {
    display: flexbox;
    flex-direction: column;
    overflow: hidden;
    margin: 0 auto;
    max-width: 500px;
    max-height: 600px;
    border-radius: 15px;
}

.formClass {
    padding: 15px;
    background-color: #f1f1f1;
}

input[type=text], input[type=submit] {
    width: 100%;
    padding: 5px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #f1f1f1;
}

input[type=checkbox] {
    margin-top: 12px;
}

input[type=submit] {
    background-color: #AEBB8E;
    color: #f1f1f1;
    border: none;
}

input[type=submit]:hover {
    opacity: 1;
}

#films {
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    align-self: flex-end;
}

ol {
    list-style: none;
}



