html {
    scroll-behavior: smooth;
    background-color: #f1f1f1;
    box-sizing: border-box;
}

body {
    font-family: helvetica;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#container {
    background-attachment: fixed;
    background-image: url(./images1/blueprint.jpg);
    height: 700px;
    width: 1000%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Navigation Section */
#menuToggle {
    display: block;
    position: relative;
    top: 30px;
    left: 0px;
    z-index: 1; /* z-index set the order of a positioned element */
    user-select: none; /* whether the user can select */
}

#menuToggle a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: #daa520;
}

#menuToggle input {
    display: block;
    width: 30px;
    height: 20px;
    position: absolute;
    top: -5px;
    left: -3px;
    cursor: pointer;
    opacity: 0; /* transparency of element */
    z-index: 2;
}

#menuToggle span {
    display: flex;
    width: 30px;
    height: 3px;
    margin-bottom: 4px;
    position: relative;
    background: #ACB5AF;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
}

#menu {
    position: absolute;
    width: 200px;
    margin: 0px 0px 0px 0px;
    padding: 25px;
    padding-top: 50px;
    background: #f1f1f1;
    list-style: none;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
}

#menu li {
    padding: 5px 0;
    font-size: 20px;
}

#menuToggle input:checked ~ ul {
    transform: none;
}

* {
    box-sizing: border-box;
  }
  
body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}
  
.row {
    margin: 8px -16px;
}
  
  /* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}
  
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    display: none; /* Hide columns by default */
}
  
/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column .button {
    border-radius: 20px;
}

.column:hover {
    transform: translateY(7px);
}

.column::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex; 
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #ebd9d1, #d9d3c7, #c7cdc3, #b9c5c1, #b1bcbe);
    z-index: 2;
    transition: 0.7s all;
    opacity: 0;
}

.column:hover::before {
    opacity: 0.3;
}

.column img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.column .info {
    position: relative;
    z-index: 3;
    color: #f1f1f1;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.column:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

.column .info h1 {
    margin: 0.2em;
}

.column .info p {
    letter-spacing: 1px;
    font-size: 13px;
    margin-top: 8px;
    margin-bottom: 20px;
    margin-left: 0.5em;
}

.column .info .button {
    text-decoration: none;
    padding: 0.5em 1em;
    background: #f1f1f1;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-left: 0.5em;
}

.column .info .button:hover {
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
  
/* Content */
.content {
    width: 250px;
    height: 320px;
    padding: 1em 0;
    background: #f1f1f1;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
    margin-left: 2em;
}
  
/* The "show" class is added to the filtered elements */
.show {
    display: block;
}
  
/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: f1f1f1;
    cursor: pointer;
}
  
/* Add a grey background color on mouse-over */
.btn:hover {
    background-color: #f1f1f1;
}
  
/* Add a dark background color to the active button */
.btn.active {
    background-color: #f1f1f1;
    color: #000000;
}

.wrapper {
    display: flex;
    width: 70%;
    justify-content: space-around;
    gap: 1em;
    flex-wrap: wrap;
}

button {
    background-color: #e1ecf4;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: goldenrod;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: flexbox;
    flex-direction:inherit;
    font-family: helvetica;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px 0.8em;
    text-align: center;
    text-decoration: none;
    align-items: flex-end;
}
  
button:hover, button:focus {
    background-color: #000000;
    color: #2c5777;
}
  
button:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}
  
button:active {
    background-color: #a0c7e4;
    box-shadow: none;
    color: #2c5777;
}
  
form {
      display: flexbox;
      flex-direction: column;
      overflow: hidden;
      margin: 0 auto;
      max-width: 500px;
      max-height: 600px;
      border-radius: 15px;
}
  
.formClass {
      padding: 15px;
      background-color: #f1f1f1;
}
  
input[type=text], input[type=submit] {
      width: 100%;
      padding: 5px;
      margin: 3px 0;
      display: inline-block;
      border: 1px solid #f1f1f1;
}
  
input[type=checkbox] {
      margin-top: 12px;
}
  
input[type=submit] {
      background-color: #AEBB8E;
      color: #f1f1f1;
      border: none;
}
  
input[type=submit]:hover {
      opacity: 1;
}
  
  
footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
}
  
button {
    align-self: flex-end;
}



